In [ ]:
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore', category=np.VisibleDeprecationWarning)
from imblearn.over_sampling import SMOTE

In [ ]:
data=pd.read_csv("/content/train delete.csv")

In [ ]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
2,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
3,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
4,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3

In [ ]:
data = data.drop(['MonthlyRate', 'DailyRate','HourlyRate','Over18','EmployeeCount','StandardHours','EmployeeNumber'], axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
data['Attrition'] = le.fit_transform(data['Attrition'])
data['BusinessTravel'] = le.fit_transform(data['BusinessTravel'])
data['Department'] = le.fit_transform(data['Department'])
data['EducationField'] = le.fit_transform(data['EducationField'])
data['Gender'] = le.fit_transform(data['Gender'])
data['JobRole'] = le.fit_transform(data['JobRole'])
data['MaritalStatus'] = le.fit_transform(data['MaritalStatus'])
data['OverTime'] = le.fit_transform(data['OverTime'])

In [ ]:
features=data.drop('Attrition',axis=1)
target=data['Attrition']

In [ ]:
features

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,2,2,1,2,1,2,0,3,2,...,3,1,0,8,0,1,6,4,0,5
1,37,2,1,2,2,4,4,1,2,1,...,3,2,0,7,3,3,0,0,0,0
2,28,2,1,24,3,1,3,1,2,1,...,3,2,0,6,4,3,4,2,0,3
3,36,2,2,9,4,1,3,1,2,1,...,4,2,0,10,4,3,5,3,0,3
4,34,2,1,6,1,3,2,1,3,1,...,3,3,0,8,2,3,4,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,36,1,1,23,2,3,3,1,4,2,...,3,3,1,17,3,3,5,2,0,3
800,39,2,1,6,1,3,4,1,2,3,...,3,1,1,9,5,3,7,7,1,7
801,27,2,1,4,3,1,2,1,4,2,...,4,2,1,6,0,3,6,2,0,3
802,49,1,2,2,3,3,4,1,2,2,...,3,4,0,17,3,2,9,6,0,8
803,34,2,1,8,3,3,2,1,4,2,...,3,1,0,6,3,4,4,3,1,2

In [ ]:
target

0      1
1      1
2      1
3      1
4      1
      ..
799    0
800    0
801    0
802    0
803    0
Name: Attrition, Length: 804, dtype: int64

In [ ]:
from imblearn.over_sampling import SMOTE
import pandas as pd

target = pd.Series(target)

smote = SMOTE(random_state=42)

oversampled_features, oversampled_target = smote.fit_resample(features, target)

print("Original data shape:", features.shape, target.shape)
print("Oversampled data shape:", oversampled_features.shape, oversampled_target.shape)

Original data shape: (804, 27) (804,)
Oversampled data shape: (1134, 27) (1134,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(features,target,test_size=0.1,random_state=42)

In [ ]:
from sklearn.svm import SVC
svm=SVC()

In [ ]:
from sklearn.metrics import classification_report,accuracy_score

In [ ]:
cr=classification_report
ac=accuracy_score

In [ ]:
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)
print(classification_report(y_test,y_pred))
ac(y_test,y_pred)

              precision    recall  f1-score   support

           0       0.73      1.00      0.84        59
           1       0.00      0.00      0.00        22

    accuracy                           0.73        81
   macro avg       0.36      0.50      0.42        81
weighted avg       0.53      0.73      0.61        81

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.7283950617283951

In [ ]:
svm.score(X_train,y_train)

0.7026279391424619

In [ ]:
def predict():
    a1=eval(input("Enter age:"))
    a2=eval(input("Enter Travel Class:"))
    a3=eval(input("Enter Department No:"))
    a4=eval(input("Enter Distance:"))
    a5=eval(input("Enter Educational Level:"))
    a6=eval(input("Enter Education Field:"))
    a7=eval(input("Enter Environment satisfaction Level:"))
    a8=eval(input("Enter Gender:"))
    a9=eval(input("Enter job involment:"))
    a10=eval(input("Enter job level:"))
    a11=eval(input("Enter job role:"))
    a12=eval(input("Enter satisfaction level:"))
    a13=eval(input("Enter marital status:"))
    a26=eval(input("Enter salary:"))
    a14=eval(input("Enter number of companies worked:"))
    a15=eval(input("Enter Overtime:"))
    a27=eval(input("Enter salary hike:"))
    a16=eval(input("Enter employee performance rating:"))
    a17=eval(input("Enter relationship stisfaction level:"))
    a18=eval(input("Enter stock option level:"))
    a19=eval(input("Enter years of work experience:"))
    a20=eval(input("Enter trainning time last year:"))
    a21=eval(input("Enter level of work life balance:"))
    a22=eval(input("Enter year at company worked:"))
    a23=eval(input("Enter years in current role:"))
    a24=eval(input("Enter years since last performance:"))
    a25=eval(input("Enter years with current manager:"))

    newob=[a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a26,a14,a15,a27,a16,a17,a18,a19,a20,a21,a22,a23,a24,a25]
    ans=svm.predict([newob])[0]
    if ans==1:
        print("Employee will leave the company")
    else:
        print("Employee will stay")
        return ans

In [ ]:
 predict()

Enter age:28
Enter Travel Class:2
Enter Department No:1
Enter Distance:24
Enter Educational Level:3
Enter Education Field:0
Enter Environment satisfaction Level:3
Enter Gender:1
Enter job involment:2
Enter job level:1
Enter job role:2
Enter satisfaction level:3
Enter marital status:2
Enter salary:2028
Enter number of companies worked:5
Enter Overtime:1
Enter salary hike:14
Enter employee performance rating:3
Enter relationship stisfaction level:2
Enter stock option level:0
Enter years of work experience:6
Enter trainning time last year:4
Enter level of work life balance:3
Enter year at company worked:4
Enter years in current role:2
Enter years since last performance:0
Enter years with current manager:3
Employee will stay

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

0

In [ ]:
from sklearn.preprocessing import LabelEncoder

original_values = {
    'Attrition': ['Yes', 'No'],
    'BusinessTravel': ['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'],
    'Department': ['Sales', 'Research & Development', 'Human Resources'],
    'EducationField': ['Life Sciences', 'Medical', 'Marketing', 'Technical Degree', 'Other'],
    'Gender': ['Male', 'Female'],
    'JobRole': ['Sales Executive', 'Research Scientist', 'Laboratory Technician', 'Manufacturing Director', 'Healthcare Representative', 'Manager', 'Sales Representative', 'Research Director', 'Human Resources'],
    'MaritalStatus': ['Single', 'Married', 'Divorced'],
    'OverTime': ['Yes', 'No']
}

transformed_values = {
    'Attrition': le.fit_transform(original_values['Attrition']),
    'BusinessTravel': le.fit_transform(original_values['BusinessTravel']),
    'Department': le.fit_transform(original_values['Department']),
    'EducationField': le.fit_transform(original_values['EducationField']),
    'Gender': le.fit_transform(original_values['Gender']),
    'JobRole': le.fit_transform(original_values['JobRole']),
    'MaritalStatus': le.fit_transform(original_values['MaritalStatus']),
    'OverTime': le.fit_transform(original_values['OverTime'])
}

for column_name in original_values:
    print(f"Original values for {column_name}: {original_values[column_name]}")
    print(f"Transformed values for {column_name}: {list(transformed_values[column_name])}\n")